body{
    font-family: 'Roboto', sans-serif;
}

.list-group-item{
    border-color: black;
    border-radius: 10px 100px / 120px 100px;
}

.btn{
    border-color: black;
    border-radius: 32px 64px;
}