{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-3 py-5"><strong>Amistades</strong></h1>
        <ul class="list-group ">
        {% for ami in amistades %}
            <a class="list-group-item mb-4">
                <header class="d-flex justify-content-between">
                    <h1 class="fw-bold">Amistad Nro {{ami.id}} </h1>
                </header>
                <h2>{{ami.civil.personaje.primer_nombre}} {{ami.civil.personaje.primer_apellido}}</h2>
                <p> Es amigo de </p>
                <h2>{{ami.amispers.primer_nombre}} {{ami.amispers.primer_apellido}}</h2>
            </a> 
            {% if user.es_admin %} 
            <a href="{% url 'amistad_eli' ami.id %}" class="btn btn-danger mb-3 ms-4 btnEli">
                Eliminar Amistad
            </a>
            {% endif %}
        {% endfor %}
        </ul>
        {% if user.es_admin %} 
        <a href="{% url 'new_amistad' %}">
            <button class="btn btn-success ">Nueva Amistad</button> 
        </a>
        {% endif %}
        </div>
    </div>
</main>




{% endblock %}