{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel CRUD</title>
    <link rel="icon" type="image/png" href="{% static 'images/MarvelLogo.png' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/logoapp.png' %}" style="width: 6vw;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="/recomendaciones" class="nav-link">Recomendaciones</a>
                </li>
                <li class="nav-item">
                  <a href="/lista" class="nav-link">Lista de Guardados</a>
                </li>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Registro
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="/civiles">Civiles</a></li>
                      <li><a class="dropdown-item" href="/heroes">Heroes</a></li>
                      <li><a class="dropdown-item" href="/villanos">Villanos</a></li>
                      <li><a class="dropdown-item" href="/peliculas">Peliculas</a></li>
                      <li><a class="dropdown-item" href="/series">Series</a></li>
                      <li><a class="dropdown-item" href="/juegos">Juegos</a></li>
                      <li><a class="dropdown-item" href="/organizaciones">Organizaciones</a></li>
                      <li><a class="dropdown-item" href="/sedes">Sedes</a></li>
                      <li><a class="dropdown-item" href="/poderes">Poderes</a></li>
                      <li><a class="dropdown-item" href="/objetos">Objetos</a></li>
                      <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                      <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                      <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                      <li><a class="dropdown-item" href="#">Algo más aqui</a></li>
                    </ul>
                </li>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Reportes
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep1' %}">Reporte 1</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep2' %}">Reporte 2</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep3' %}">Reporte 3</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep4' %}">Reporte 4</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep5' %}">Reporte 5</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep6' %}">Reporte 6</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep7' %}">Reporte 7</a></li>
                  <li><a class="dropdown-item" href="{% url 'report:report_edit' 'rep8' %}">Reporte 8</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Exportar Reportes
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href="/export_reporte_1">Reporte 1</a></li>
                  <li><a class="dropdown-item" href="/export_reporte_2">Reporte 2</a></li>
                  <li><a class="dropdown-item" href="/export_reporte_3">Reporte 3</a></li>
                  <li><a class="dropdown-item" href="#">Reporte 4</a></li>
                  <li><a class="dropdown-item" href="#">Reporte 5</a></li>
                  <li><a class="dropdown-item" href="#">Reporte 6</a></li>
                  <li><a class="dropdown-item" href="#">Reporte 7</a></li>
                  <li><a class="dropdown-item" href="#">Reporte 8</a></li>
                </ul>
              </li>
              <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a href="/singup" class="nav-link">Singup</a>
              </li>
              <li class="nav-item">
                    <a href="/singin" class="nav-link">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <div class="position-absolute bottom-0 end-0 ">
        <div class="form-check form-switch ms-auto mt-3 me-3">
        <label class="form-check-label ms-3" for="lightSwitch">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-brightness-high"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
            />
          </svg>
        </label>
        <input class="form-check-input" type="checkbox" id="lightSwitch" />
      </div>
      
      <script src="{% static 'js/switch.js' %}"></script>
      </div>
    {% block content %}
    {% endblock %}

</body>
</html>