{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-3 py-5"><strong>Civiles</strong></h1>
        <ul class="list-group ">
        {% for civil in civiles %}
        <a class="list-group-item mb-4">
            <header class="ab d-flex justify-content-between">
                <h1 class="fw-bold">{{civil.primer_nombre}} 
                    {% if civil.segundo_nombre is not none %}   
                        {{civil.segundo_nombre}}
                    {% endif %}
                    {{civil.primer_apellido}}
                    {% if civil.segundo_apellido is not none %}   
                        {{civil.segundo_apellido}}
                    {% endif %} 
                </h1>
                <p>Aparecio por primera vez: {{civil.comic_primer_vez}}</p>
            </header>
            <p>Sexo: {{civil.genc}}</p>
            <p>color de pelo: {{civil.color_pelo}}</p>
            <p>color de ojos:  {{civil.color_ojos}}</p>
            {% if civil.frase_celebre is not none %}   
                <p>Frase: " {{civil.frase_celebre}} " </p>
                {% endif %} 
            <p>Estado Marital: {{civil.estadomarital}}</p>
            
        </a>
        
        <div>
            {% if user.es_admin %}
            <a href="{% url 'civiles_act' civil.personaje_id %}">
                <button class="btn btn-warning mb-3 ms-2">Actualizar Civil</button>
            </a>
            <a href="{% url 'civiles_eli' civil.personaje_id %}" class="btn btn-danger mb-3 ms-4 btnEli">
                Eliminar Civil 
            </a>
            {% endif %}
        </div>
        
        {% endfor %}
        {% if user.es_admin %}
        </ul>
        <a href="{% url 'new_civil' %}">
            <button class="btn btn-success ">Nuevo Civil</button>
        </a>
        {% endif %}
        </div>
    </div>
</main>




{% endblock %}