{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="/combates/crear" method="POST" class="card-body">
                    <h1 class="text-center">Nueva Combate</h1>
                    {% if error is not none %} 
                        <div class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                    {% endif %}
            
                    {% csrf_token %}
                    
                    {{form.as_p}}
                    <h2 class="text-center">Combatiente 1</h2>
                    {{form2.as_p}}
                    <h2 class="text-center">Combatiente 2</h2>
                    {{form3.as_p}}
                    
                    <button class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}