{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="/objetos/crear" method="POST" class="card-body">
                    <h1 class="text-center">Nuevo Objeto</h1>
                    
                    {% csrf_token %}
                    <div class="mb-3 ms-4">{{form.as_p}}</div>

            
                    <button class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </main>

{% endblock %}