{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <h1 class="text-center display-1 py-5"><strong> 🆕 Lo más nuevo 🆕 </strong></h1>
        <div class="col-md-6 offset-md-3">
        <h3 class=" display-3 py-4">Mira nuestros últimos estrenos: </h3>
        <ul class="list-group ">
        {% for med in medios %}
            <a class="list-group-item mb-4">
                <header class="d-flex justify-content-between">
                    <h1 class="fw-bold">{{med.medionombre}} </h1>
                    <h4>{{med.tipomed}}</h4>
                </header>
                <h3>Rating: {{med.medrating}}</h3>
                <p>Fecha de Estreno: {{med.medfecestreno}}</p>
                <p>Creaador: {{med.medcomcreacion}}</p>
                <p>Productor:  {{med.medcomproduc}}</p>
                <p>Sinopsis: {{med.medsinopsis}}</p>
            </a>  
        <div>
            <a href="{% url 'lg_guardar' med.medio_id %}">
                <button class="btn btn-info mb-3 ms-4">Agregar a la Lista</button>
            </a>
        </div>
        {% endfor %}
        </ul>
        </div>
    </div>
</main>




{% endblock %}