{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1 class="text-center display-3 py-5"><strong>Registro de la Organización en medio</strong></h1>
        <ul class="list-group ">
        {% for om in orgsmed %}
            <a class="list-group-item mb-4">
                <header class="d-flex justify-content-between">
                    <h1 class="fw-bold">{{om.fk_org_med.org_nombre}}</h1>
                </header>
                <h3>Aparece en </h3>
                <h2> {{om.fk_med_org.medionombre}} </h2>
                <h5>{{om.fk_med_org.tipomed}}</h5>
                <h4> Estado en el medio: {{om.estado}} </h4>
            </a>
            <div>
                {% if user.es_admin %}
                <a href="{% url 'orgmedio_act' om.id %}">
                    <button class="btn btn-warning mb-3 ms-2">Actualizar Registro</button>
                </a>  
                <a href="{% url 'orgmedio_eli' om.id %}" class="btn btn-danger mb-3 ms-4 btnEli">
                    Eliminar Registro
                </a>
                {% endif %}
            </div>
        {% endfor %}
        </ul>
        {% if user.es_admin %}
        <a href="{% url 'new_orgmedio' %}">
            <button class="btn btn-success ">Nueva Registro</button>
        </a>
        {% endif %}
        </div>
    </div>
</main>




{% endblock %}