{% extends 'base.html' %}

{% block content %}


    <main class="container">
        <div class="row text-center">
            <h1 class="text-center display-3 py-5"><strong>Recomendaciones</strong></h1>
                <a  href="{% url 'home' %}">
                    <button type="button" class="btn btn-success btn-lg mb-3 ms-4">Lo mejor de lo mejor 🏆</button>
                </a>
                <a  href="{% url 'home' %}">
                    <button type="button" class="btn btn-warning btn-lg mb-3 ms-4">Basado en tus personajes favoritos</button>
                </a>
                <a  href="{% url 'home' %}">
                    <button type="button" class="btn btn-info btn-lg mb-3 ms-4">Lo más nuevo</button>
                </a>
        </div>
    </main>
{% endblock %}