{% extends 'base.html' %}

{% block content %}
{% load static %}

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 mt-5">
                <form action="/newtdc" method="POST" class="card-body">
                    <img src="{% static 'images/tdc.png' %}" style="width: 15vw;">
                    <h1 class="text-center">Registrar Tarjeta de Credito</h1>
            
                    {{error}}
            
                    {% csrf_token %}
                    
                    {{form.as_p}}
            
                    <button class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>
    </main>




{% endblock %}