{% extends 'base.html' %}

{% block content %}

    <main class="container">
        <div class="card-group">
            {% for vi in vip %}
            <div class="card text-white bg-secondary mb-3 ms-5" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{vi.sustipo}} </h5>
                    {% for bv in benvip %}
                    <p class="card-text"> ● {{bv.bendescripcion}} </p>
                    {% endfor %} 
                    <form action="{% url 'reg_sub' vi.susid %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary">{{vi.sustarifa}} $ </button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% for go in gold %}
            <div class="card text-dark bg-warning mb-3 ms-5" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{go.sustipo}} </h5>
                    {% for bg in bengold %}
                    <p class="card-text"> ● {{bg.bendescripcion}} </p>
                    {% endfor %} 
                    <form action="{% url 'reg_sub' go.susid %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary">{{go.sustarifa}} $ </button>
                    </form>
                </div>
            </div>
            {% endfor %} 
            {% for pr in prem %}
            <div class="card text-dark bg-info mb-3 ms-5" style="max-width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{pr.sustipo}}</h5>
                    {% for bp in benprem %}
                    <p class="card-text"> ● {{bp.bendescripcion}} </p>
                    {% endfor %} 
                    <form action="{% url 'reg_sub' pr.susid %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary">{{pr.sustarifa}} $</button>
                    </form>
                </div>
            </div>
            {% endfor %} 
        </div>
    </main>


{% endblock %}